HandleErrors/IntegrationFlows/HandleErrors_ExtendWithExceptionSubprocess/src/main/resources/xsd/ProductDetails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="DimensionWidth"/>
              <xs:element type="xs:string" name="Category"/>
              <xs:element type="xs:string" name="LongDescription"/>
              <xs:element type="xs:string" name="ProductId"/>
              <xs:element type="xs:string" name="DimensionUnit"/>
              <xs:element type="xs:float" name="DimensionHeight"/>
              <xs:element type="xs:float" name="Weight"/>
              <xs:element type="xs:float" name="DimensionDepth"/>
              <xs:element type="xs:string" name="Name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>