Patterns/IntegrationFlows/Pattern_ScatterGather/src/main/resources/wsdl/BankLoanBid.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="BankLoanBid" targetNamespace="http://demo.sap.com/eip/scatter-gather" xmlns:p1="http://demo.sap.com/eip/scatter-gather" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:documentation/><ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl"><ifw:category>ifmmessage</ifw:category><ifw:VersionID>43b62cbc0a0111eac11200000040dc7e</ifw:VersionID><ifw:messages><ifw:message name="BankLoanBid"><ifw:messType>ifmmessage</ifw:messType><ifw:keyElements><ifw:elem id="NAME">BankLoanBid</ifw:elem><ifw:elem id="NAMESPACE">http://demo.sap.com/eip/scatter-gather</ifw:elem></ifw:keyElements><ifw:technicalNamespace>http://demo.sap.com/eip/scatter-gather</ifw:technicalNamespace><ifw:VersionID>43b62cbc0a0111eac11200000040dc7e</ifw:VersionID><ifw:xmlNamespace>http://demo.sap.com/eip/scatter-gather</ifw:xmlNamespace><ifw:dataType uri="name=Bids~namespace=http://demo.sap.com/eip/scatter-gather~swcvId=c6c3f1c02ed611e9a58ec69c0a60894a" name="Bids" namespace="http://demo.sap.com/eip/scatter-gather" swcvId="c6c3f1c02ed611e9a58ec69c0a60894a"/></ifw:message></ifw:messages></ifw:properties><wsdl:types><xsd:schema targetNamespace="http://demo.sap.com/eip/scatter-gather" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://demo.sap.com/eip/scatter-gather"><xsd:element name="BankLoanBid" type="Bids"/><xsd:complexType name="Bids"><xsd:sequence><xsd:element name="RequestID" type="xsd:string" minOccurs="0"/><xsd:element name="Bid" type="Bid" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="Bid"><xsd:sequence><xsd:element name="BankName" type="xsd:string" minOccurs="0"/><xsd:element name="InterestRate" type="xsd:float" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:schema></wsdl:types><wsdl:message name="BankLoanBid"><wsdl:documentation/><wsdl:part name="BankLoanBid" element="p1:BankLoanBid"/></wsdl:message></wsdl:definitions>